[Unit]
Description=ShadowSocks Manager web m Service
After=network-online.target

[Service]
Type=simple
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
DynamicUser=true
Restart=always
ExecStart=/opt/shadowsocks/shadowsocks-manager-m.sh

[Install]
WantedBy=multi-user.target
